:root {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;

  color: #c4bfbf;
  /* background-color: #121212; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Inter;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/background.png");
  background-size: cover;
  opacity: 0.1; 
  z-index: -1;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
